@model FastFitProject.ViewModels.MembersViewModel;

<div class="container body-content">
   
    <h1>@Model.Name</h1>
        @if (ViewBag.newShoeSize != null)
    {
        <h1>Shoe Sizes</h1>

        @foreach (var size in ViewBag.newShoeSize)
        {

            <table class="table">
                

                    <tr>
                        <th>
                            Us
                        </th>

                        <th>
                            Uk
                        </th>

                        <th>
                            Eu
                        </th>

                        <th>
                            Australia
                        </th>

                        <th>
                            China
                        </th>

                        <th>
                            Japan
                        </th>

                        @if(Model.Gender == 0){
                            <th>US Woman Shoe Type</th>
                        }else
                        {
                            <th>US Man Shoe Type</th>
                        }
                        


                    </tr>
                    <tr>
                        <td>@size.Us</td>
                        <td>@size.Uk</td>
                        <td>@size.Eu</td>
                        <td>@size.Australia</td>
                        <td>@size.China</td>
                        <td>@size.Japan</td>
                        <td>@size.USMaleFemaleDif</td>

                    </tr>

                

            </table>
            <br />
        }
    }

</div>





