@model FastFitProject.ViewModels.MembersViewModel;

<div class="container body-content">
   
    <h1>@Model.Name</h1>
        @if (ViewBag.newShoeSize != null)
    {
        @foreach (var size in ViewBag.newShoeSize)
        {

            <table class="table">
                <th>Shoe Sizes</th>

                <td>

                    <tr>
                        <th>
                            Us
                        </th>

                        <th>
                            Uk
                        </th>

                        <th>
                            Eu
                        </th>

                        <th>
                            Australia
                        </th>

                        <th>
                            China
                        </th>

                        <th>
                            Japan
                        </th>


                    </tr>
                    <tr>
                        <td>@size.Us</td>
                        <td>@size.Uk</td>
                        <td>@size.Eu</td>
                        <td>@size.Australia</td>
                        <td>@size.China</td>
                        <td>@size.Japan</td>

                    </tr>

                </td>

            </table>
            <br />
        }
    }

</div>





